#
# Scanno: Added to include additions that are not really related to the real boot process of the ROM
#

service initd /system/xbin/busybox run-parts -a start /system/etc/init.d/rc1.d/
    class main
    user root
    group root
    oneshot

service userinitd /system/xbin/busybox run-parts -a start /system/etc/init.d/rc5.d/
    class postbootinit
    user root
    group root
    oneshot

service sensorservice /system/bin/sensorservice
    class main
    user system
    group graphics audio camera inet net_bt net_bt_admin net_bw_acct drmrpc

service ubuntuappmanager /system/bin/ubuntuappmanager
    class main

service ubuntu_chroot /system/bin/ubuntu_chroot init
    class main
    oneshot	
